.font-changer-popup * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-changer-popup {
    position: fixed;
    width: 600px;
    max-height: 400px;
    left: 5px;
    top: 5px;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    z-index: 9999;
    color: black;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

.font-changer-list {
    overflow-y: scroll;
    width: 100%;
    max-height: 300px;
    list-style: none;
}

.font-changer-list-element {
    border-top: 1px solid #e7e7e7;
    background-color: white;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-family: sans-serif;
}

.font-changer-list-element:hover {
    background-color: #bababa;
}

.font-changer-element-classes {
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.font-changer-utils {
    height: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.font-changer-close-button {
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.font-changer-styles,
.font-changer-preview-styles {
    white-space: normal !important;
    text-align: justify !important;
    font-weight: bold !important;
}

.font-changer-preview-styles {
    color: green;
}
